body {
  filter: brightness(150%);
  background-image: url("./mountain_background.jpg");
  background-repeat: no-repeat;
  background-size: full-width;
}

footer {
  margin: 0 auto;
  color: grey;
}

a {
  color: white;
  font-weight: 700;
}
