.weather-app {
  margin: 100px auto;
  padding: 30px;
  border: transparent;
  border-radius: 10px;
  max-width: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  font-family: "Poppins", sans-serif;
  color: white;
}

.details {
  padding: 10px;
}

.main {
  max-width: 340px;
}

.main-icon {
  width: 100px;
}

.main-temp {
  font-size: 80px;
}

.unit {
  padding-top: 20px;
}

.celcius {
  font-size: 20px;
  padding-left: 10px;
}

.fahrenheit {
  font-size: 20px;
  padding-left: 10px;
}

.form-control {
  opacity: 0.5;
}

.search {
  height: 38px;
  border-color: transparent;
  border-radius: 6px;
  padding: 0 10px;
  color: white;
  background-color: #2a5dc4;
}

form {
  padding-bottom: 30px;
}

h3 {
  font-size: 17px;
  margin-bottom: 30px;
}

@media (width < 768px) {
  .weather-app {
    text-align: center;
  }

  .main-section {
    margin: 0 auto;
  }

  .main {
    margin: 0 auto;
  }

  .temperature {
    margin: 0 auto;
    padding-left: 17px;
    padding-right: 0;
    width: 150px;
  }
}
